
.reveal .noborder {
  border: 0 solid white;
  margin:0;
  padding:0;
  background: none;
  box-shadow: none;
}

.reveal .multiply {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear: both;
}

.nocenter {
	display: inline-block;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}